<div class="container">
  <!--top menus-->
  <div>
    <!--menu - add new order / list all purchase required items-->
    <div class="col-lg-6">
      <button type="button" class="btn btn-info btn-sm"
              (click)="onAddNewTransfer()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加新内部转运单
      </button>
    </div>
  </div>
  <!--end top menus-->

  <!--tabs-->
  <ul class="nav nav-tabs" style="margin-top: 8rem">
    <li role="button" [class.active]="TransferStatus.Preparing==getShowTransferStatus()"><a
      (click)="setShowTransferStatus(TransferStatus.Preparing)">新内部转运单 &nbsp;
      {{getTransferNumber(TransferStatus.Preparing)}}</a></li>
    <li role="button" [class.active]="TransferStatus.Shipped==getShowTransferStatus()"><a
      (click)="setShowTransferStatus(TransferStatus.Shipped)">转运中
      &nbsp;{{getTransferNumber(TransferStatus.Shipped)}}</a></li>
    <li role="button" [class.active]="TransferStatus.Closed==getShowTransferStatus()"><a
      (click)="setShowTransferStatus(TransferStatus.Closed)">已完成内部转运单
      &nbsp;{{getTransferNumber(TransferStatus.Closed)}}</a></li>
    <li role="button" [class.active]="TransferStatus.HasProblems==getShowTransferStatus()"><a
      (click)="setShowTransferStatus(TransferStatus.HasProblems)">问题内部转运单 &nbsp;{{getTransferNumber(TransferStatus.HasProblems)}}</a>
    </li>
    <li role="button" class="pull-right"><a (click)="toggleAllCollapse()"><span *ngIf="allCollapse">全部展开</span><span
      *ngIf="!allCollapse">全部合并</span></a></li>
  </ul>
  <!--end tabs-->
  <!--Preparing transfer-->
  <div class="panel-group" id="ShowPrepareOrders" *ngIf="TransferStatus.Preparing==getShowTransferStatus()"
       style="margin-top: 2rem">
    <div class="panel panel-default"
         *ngFor="let transfer of getTransferByStatus(TransferStatus.Preparing) | orderByDate: ['placedDate']; let i = index">
      <div class="panel-heading" *ngIf="transfer">
        <h4 class="panel-title">

          <a data-toggle="collapse" href="#preparing-{{transfer.id}}" style="text-decoration: none">
            <span>{{i+1}}&nbsp;&nbsp;{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}&nbsp;&nbsp;</span>
            <span>下单日期:{{transfer.placedDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
          </a>

          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1.5rem; opacity: 0.7"
                  [ngClass]="{'btn-default':transfer.status == TransferStatus.Preparing,'btn-success':transfer.status == TransferStatus.ReadyToShip}"
                  (click)="onSwitchReadyToShipTransfer(transfer)">已完成备货
          </button>

          <div class="pull-right" style="vertical-align: middle">


            <a class="btn-sm" role="button" style="text-decoration: none"
               [ngClass]="{'btn-default':transfer.status == TransferStatus.Preparing,'btn-primary':transfer.status == TransferStatus.ReadyToShip}"
               (click)="onShipTransfer(transfer)">发货</a>

            <a class="btn-sm btn-danger" role="button" style="text-decoration: none"
               (click)="onDeleteTransfer(transfer)">删除</a>
          </div>
        </h4>
      </div>
      <div id="preparing-{{transfer.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span><strong>{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}</strong></span>
            <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
               (click)="onEditTargetInventoryLocation(transfer)">选择库存地址</a>
          </div>
          <hr style="margin-top: 0 !important;"/>
          <div class="row"> <!-- product-->
            <div class="col-xs-12 col-sm-12">
              <div style="display: flex; justify-content: space-between;">
                <h4 class="panel-title">已添加产品:&nbsp;&nbsp;&nbsp;&nbsp; {{transfer.productCost |
                  currency:'CAD':false:'1.2-2'}}&nbsp;&nbsp;&nbsp;&nbsp;
                  重量({{transfer.totalWeight}})磅</h4>
                <a class="pull-right btn-xs btn-info" role="button" style="text-decoration: none; color: white"
                   (click)="onAddTransferProducts(transfer)">添加转运产品</a>
              </div>
              <div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>产品</th>
                    <th>SKU#</th>
                    <th>过期</th>
                    <th>转运数量</th>
                    <th>库存地点</th>
                    <th>税后单价</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let transferedProduct of transfer.transferedProducts">
                    <td>
                      {{transferedProduct.productInventory.product.name}}-{{transferedProduct.productInventory.product.brand}}
                    </td>
                    <td>{{transferedProduct.productInventory.skuNumber}}</td>
                    <td>
                        <span *ngIf="transferedProduct.productInventory.product.hasExpiredDate"
                              [class.expired-soon]="isExpiredInOneYear(transferedProduct.productInventory.expiredDate)"
                              [class.expired-already]="isExpiredAlready(transferedProduct.productInventory.expiredDate)"
                        >
                        {{transferedProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                        </span>
                      <span *ngIf="!transferedProduct.productInventory.product.hasExpiredDate">无</span>
                    </td>
                    <td>{{transferedProduct.transferedQuantity}}</td>
                    <td>{{transferedProduct.productInventory.inventoryLocation.locationName}}</td>
                    <td>{{transferedProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                    <td style="text-align:right; white-space: nowrap">
                      <button type="button" class="btn btn-default btn-xs" style="margin: 0; display:inline-block"
                              (click)="onEditTransferProduct(transferedProduct)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" style=""></span>
                      </button>
                      <button type="button" class="btn btn-default btn-xs"
                              style="margin: 0 0 0 0.1rem;display:inline-block"
                              (click)="onDeleteTransferProduct(transferedProduct)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:indianred"></span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- product-->

          <hr style="margin-top: 0 !important;"/>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">库存转运费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.productCost===0">产品成本:
                <span> {{transfer.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.shippingCost===0">物流成本:
                <span> {{transfer.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
            </div>
            <div class="panel-body row">
              备注:<span>{{transfer.note}}</span>
            </div>
          </div><!-- cost-->

        </div>
      </div>
    </div>
  </div>
  <!--End Preparing Order-->

  <!--Shipped Order-->
  <div class="panel-group" id="ShowShippedTransfers" *ngIf="TransferStatus.Shipped==getShowTransferStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let transfer of getTransferByStatus(TransferStatus.Shipped) | orderByDate: ['-placedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#shipped-{{transfer.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}&nbsp;&nbsp;
            发货日期:
            {{getTransferShippedDate(transfer).toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1rem; opacity: 0.7"
                  [ngClass]="{'btn-default':!hasAllPackagesArrived(transfer),'btn-success':hasAllPackagesArrived(transfer)}"
                  >包裹全部到达
          </button>

          <div class="pull-right" style="vertical-align: middle">
            <a class="btn-sm btn-primary" role="button" style="text-decoration: none"
               [ngClass]="{'btn-default':!hasAllPackagesArrived(transfer),'btn-primary':hasAllPackagesArrived(transfer)}"
               (click)="onCompleteTransfer(transfer)">完成</a>
            <a class="btn-sm btn-danger" role="button" style="text-decoration: none"
               (click)="onReportProblem(transfer)">异常</a>
          </div>
        </h4>
      </div>
      <div id="shipped-{{transfer.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
            <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{transfer.shippings.length}}</span>
            <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
               (click)="onEditShipping(transfer)">修改快递</a>
          </div>
          <div class="panel-body row">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>快递公司</th>
                  <th>单号</th>
                  <th>收件人</th>
                  <th>发货日期</th>
                  <th>运费</th>
                  <th>收货日期</th>
                  <th>快递状态</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sh of transfer.shippings; let i =index">
                  <td>{{i+1}}</td>
                  <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                  <td>{{sh.shippingNumber}}</td>
                  <td>{{sh.receiver}}</td>
                  <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td>{{sh.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                  <td *ngIf="!sh.receivedDate">无</td>
                  <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                  <td>
                  <span class="glyphicon glyphicon-ok-sign shipping-button-received"
                        (click)="onPackageReceived(sh)"></span>
                    <span class="glyphicon glyphicon-question-sign shipping-button-hasproblem"
                          (click)="onPackageHasProblem(sh)"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">转运目的地:&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}</strong>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <h4 class="panel-title">转运产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{transfer.totalWeight}})磅</h4>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>产品</th>
                  <th>SKU#</th>
                  <th>过期</th>
                  <th>数量</th>
                  <th>库存地点</th>
                  <th>税后单价</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transferedProducts of transfer.transferedProducts">
                  <td>
                    {{transferedProducts.productInventory.product.name}}-{{transferedProducts.productInventory.product.brand}}
                  </td>
                  <td>{{transferedProducts.productInventory.skuNumber}}</td>
                  <td>
                  <span *ngIf="transferedProducts.productInventory.product.hasExpiredDate"
                        [class.expired-soon]="isExpiredInOneYear(transferedProducts.productInventory.expiredDate)"
                        [class.expired-already]="isExpiredAlready(transferedProducts.productInventory.expiredDate)"
                  >
                  {{transferedProducts.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                  </span>
                    <span *ngIf="!transferedProducts.productInventory.product.hasExpiredDate">无</span>
                  </td>
                  <td>{{transferedProducts.transferedQuantity}}</td>
                  <td>{{transferedProducts.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{transferedProducts.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">转运费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.productCost===0">产品成本:
                <span> {{transfer.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.shippingCost===0">物流成本:
                <span> {{transfer.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
            </div>

            <div class="panel-body row">
              备注:<span>{{transfer.note}}</span>
            </div>
          </div><!-- cost-->
        </div>
      </div>
    </div>
  </div>
  <!--End Shipped Order-->

  <!--Completed Order-->
  <div class="panel-group" id="ShowCompletedOrders" *ngIf="TransferStatus.Closed==getShowTransferStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let transfer of getTransferByStatus(TransferStatus.Closed) | orderByDate: ['-closedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#completed-{{transfer.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}&nbsp;&nbsp;
            完成日期:
            {{transfer.closedDate.toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
        </h4>
      </div>
      <div id="completed-{{transfer.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{transfer.shippings.length}}</span>
          </div>
          <div class="panel-body row">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>快递公司</th>
                  <th>单号</th>
                  <th>收件人</th>
                  <th>发货日期</th>
                  <th>运费</th>
                  <th>收货日期</th>
                  <th>快递状态</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sh of transfer.shippings; let i =index">
                  <td>{{i+1}}</td>
                  <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                  <td>{{sh.shippingNumber}}</td>
                  <td>{{sh.receiver}}</td>
                  <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td>{{sh.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                  <td *ngIf="!sh.receivedDate">无</td>
                  <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">订单客户:&nbsp;&nbsp;&nbsp;&nbsp;
              <span><strong>{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}</strong></span>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <h4 class="panel-title">转运产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{transfer.totalWeight}})磅</h4>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>产品</th>
                  <th>SKU#</th>
                  <th>过期</th>
                  <th>数量</th>
                  <th>库存地点</th>
                  <th>税后单价</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transferProduct of transfer.transferedProducts">
                  <td>
                    {{transferProduct.productInventory.product.name}}-{{transferProduct.productInventory.product.brand}}
                  </td>
                  <td>{{transferProduct.productInventory.skuNumber}}</td>
                  <td>
                      <span *ngIf="transferProduct.productInventory.product.hasExpiredDate"
                            [class.expired-soon]="isExpiredInOneYear(transferProduct.productInventory.expiredDate)"
                            [class.expired-already]="isExpiredAlready(transferProduct.productInventory.expiredDate)">
                      {{transferProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                      </span>
                    <span *ngIf="!transferProduct.productInventory.product.hasExpiredDate">无</span>
                  </td>
                  <td>{{transferProduct.transferedQuantity}}</td>
                  <td>{{transferProduct.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{transferProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">转运费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.productCost===0">产品成本:
                <span> {{transfer.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.shippingCost===0">物流成本:
                <span> {{transfer.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
            </div>
            <div class="panel-body row">
              备注:<span>{{transfer.note}}</span>
            </div>
          </div><!-- cost-->
        </div>
      </div>
    </div>
  </div>
  <!--End Completed Order-->

  <!--Problem Order-->
  <div class="panel-group" id="ShowProblemTransfers" *ngIf="TransferStatus.HasProblems==getShowTransferStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let transfer of getTransferByStatus(TransferStatus.HasProblems) | orderByDate: ['-placedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#problem-{{transfer.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}&nbsp;&nbsp;
            发货日期:
            {{getTransferShippedDate(transfer).toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
        </h4>
      </div>
      <div id="problem-{{transfer.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{transfer.shippings.length}}</span>
          </div>
          <div class="panel-body row">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>快递公司</th>
                  <th>单号</th>
                  <th>收件人</th>
                  <th>发货日期</th>
                  <th>运费</th>
                  <th>收货日期</th>
                  <th>快递状态</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sh of transfer.shippings; let i =index">
                  <td>{{i+1}}</td>
                  <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                  <td>{{sh.shippingNumber}}</td>
                  <td>{{sh.receiver}}</td>
                  <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td>{{sh.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                  <td *ngIf="!sh.receivedDate">无</td>
                  <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">转运目的地:&nbsp;&nbsp;&nbsp;&nbsp;
              <span><strong>{{getInventoryLocationByID(transfer.toInventoryLocationID).locationName}}</strong></span>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <h4 class="panel-title">转运产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{transfer.totalWeight}})磅</h4>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>产品</th>
                  <th>SKU#</th>
                  <th>过期</th>
                  <th>数量</th>
                  <th>库存地点</th>
                  <th>税后单价</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transferProduct of transfer.transferedProducts">

                  <td>
                    {{transferProduct.productInventory.product.name}}-{{transferProduct.productInventory.product.brand}}
                  </td>
                  <td>{{transferProduct.productInventory.skuNumber}}</td>
                  <td>
<span *ngIf="transferProduct.productInventory.product.hasExpiredDate"
      [class.expired-soon]="isExpiredInOneYear(transferProduct.productInventory.expiredDate)"
      [class.expired-already]="isExpiredAlready(transferProduct.productInventory.expiredDate)"
>
{{transferProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
</span>
                    <span *ngIf="!transferProduct.productInventory.product.hasExpiredDate">无</span>
                  </td>
                  <td>{{transferProduct.transferedQuantity}}</td>
                  <td>{{transferProduct.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{transferProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">转运费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.productCost===0">产品成本:
                <span> {{transfer.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="transfer.shippingCost===0">物流成本:
                <span> {{transfer.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
            </div>
            <div class="panel-body row">
              备注:<span>{{transfer.note}}</span>
            </div>
          </div><!-- cost-->
        </div>
      </div>
    </div>
  </div>
  <!--End Problem Order-->
</div>


<!--Prepare Order Modal-->
<!--Edit Transfer Destination Inventory Location Modal-->
<div class="modal fade" id="modalTransferLocation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">请选择另一个转运目的地</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form *ngIf="modalTransfer">
          <div *ngIf="modalTransferOriginalLocationID">
            <span>当前转运目的地:<strong>{{getInventoryLocationByID(modalTransferOriginalLocationID).locationName}}</strong></span>
          </div>
          <div class="form-group" style="margin-top: 2rem">
            <label>请选择另一个转运目的地:</label>
            <select type="text" [(ngModel)]="modalTransfer.toInventoryLocationID"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let il of allInventoryLocations " [ngValue]="il.id">{{il.locationName}}
              </option>
            </select>

          </div>
          <div *ngIf="modalTransfer.toInventoryLocationID &&
                modalTransfer.toInventoryLocationID!=modalTransferOriginalLocationID">
            <span>更改为目的地:<strong> {{getInventoryLocationByID(modalTransfer.toInventoryLocationID).locationName}}</strong></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmSelectedDestination(modalTransfer)">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Order Customer Modal-->

<!--Add Transfer Product Modal-->
<div class="modal fade" id="modalAddTransferProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加转运产品</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form class="form-inline" *ngIf="!modalExistedProduct">
          <div class="form-group">
            <label>搜索产品:</label>
            <ng2-completer [(ngModel)]="searchProductStr" [ngModelOptions]="{standalone: true}"
                           [dataService]="autoCompleteProductService"
                           [minSearchLength]="0" [placeholder]="'产品名称 或者 SKU#'" [matchClass]="'match'"
                           [textNoResults]="'没有找到产品信息,请先在库存页面添加产品'" (selected)="onFoundProductSelected($event)"
                           [textSearching]="'请稍等'"
                           class="modal-input-textbox modal-lineup-four"></ng2-completer>

          </div>
        </form>
        <div *ngIf="modalExistedProduct">
          <dl class="dl-horizontal" style="margin-top: 1.5rem">
            <dt>产品名称:</dt>
            <dd>{{modalExistedProduct.name}}-{{modalExistedProduct.brand}}</dd>
            <dt>SKU#:</dt>
            <dd>{{modalExistedProduct.skuNumber}}</dd>
            <dt>重量:</dt>
            <dd>{{modalExistedProduct.weight}} lb/每个</dd>
            <div *ngIf="modalExistedProduct.hasExpiredDate">
              <dt>最近保质期:</dt>
              <dd>
            <span
              [class.expired-soon]="isExpiredInOneYear(getClosestExpiredDate(modalExistedProduct))"
              [class.expired-already]="isExpiredAlready(getClosestExpiredDate(modalExistedProduct))">
              {{getClosestExpiredDate(modalExistedProduct).toLocaleDateString() | date:'yyyy-MM-dd'}}</span>
              </dd>
            </div>

            <dt>当前库存:</dt>
            <dd>
              {{getTotalQuantityOnHand(modalExistedProduct.skuNumber)}}({{getTotalReserved(modalExistedProduct.skuNumber)}}已预留)
            </dd>
          </dl>
          <div>
            <div class="well well-sm">
              <table class="table">
                <thead>
                <tr>
                  <th>位置</th>
                  <th>购入单价</th>
                  <th>数量</th>
                  <th *ngIf="modalExistedProduct.hasExpiredDate">保质期</th>
                  <th>
                    添加数量
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of modalTransfer.transferedProducts">
                  <td>{{record.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{record.productInventory.purchasedPrice}}</td>
                  <td>{{record.productInventory.quantityOnHand}}({{record.productInventory.totalReservedQuantity}})
                  </td>
                  <td *ngIf="modalExistedProduct.hasExpiredDate && record.productInventory.expiredDate"
                      [class.expired-soon]="isExpiredInOneYear(record.productInventory.expiredDate)"
                      [class.expired-already]="isExpiredAlready(record.productInventory.expiredDate)">
                    {{record.productInventory.expiredDate.toLocaleDateString() | date:'yyyy-MM-dd'}}
                  </td>
                  <td>
                    <plus-minus-counter [counterValue]="record.transferedQuantity" [minValue]="0"
                                        [maxValue]="record.productInventory.quantityOnHand-record.productInventory.totalReservedQuantity"
                                        [changeValue]="1"
                                        (onCounterChange)="record.transferedQuantity=onUpdateTransferQuantity($event)"
                                        class=""></plus-minus-counter>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <dl class="dl-horizontal" style="margin-top: 1.5rem">
            <dt>总共添加:</dt>
            <dd>{{getTotalQuantityTransfered(modalTransfer.transferedProducts)}}</dd>
          </dl>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmAddExistedTransferProduct()"
                *ngIf="modalExistedProduct">添加
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Add Order Product Modal-->

<!--Edit Transfer Product Modal-->
<div class="modal fade" id="modalTransferProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改订购数量</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle"
           *ngIf="modalTransferProduct && modalTransferProduct.productInventory ">
        <dl class="dl-horizontal">
          <dt>产品名称</dt>
          <dd>{{modalTransferProduct.productInventory.product.name}}</dd>
          <dt>SKU#</dt>
          <dd>{{modalTransferProduct.productInventory.skuNumber}}</dd>
          <dt>过期日期</dt>
          <dd>{{modalTransferProduct.productInventory.expiredDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</dd>
          <!--<dt>库存数量</dt>-->
          <!--<dd>{{modalTransferProduct.productInventory.quantityOnHand}}({{modalTransferProduct.productInventory.totalReservedQuantity}}已预留)</dd>-->
          <dt>当前批次库存:</dt>
          <dd>
            {{modalTransferProduct.productInventory.quantityOnHand}}({{modalTransferProduct.productInventory.totalReservedQuantity}}已预留)
          </dd>
          <dt>库存地点</dt>
          <dd>{{modalTransferProduct.productInventory.inventoryLocation.locationName}}</dd>
          <dt>税后单价</dt>
          <dd>{{modalTransferProduct.productInventory.purchasedPrice}}</dd>
          <dt>次批次订购数量</dt>
          <dd>
            <plus-minus-counter [counterValue]="modalTransferProduct.transferedQuantity" [minValue]="0"
                                [maxValue]="modalTransferProduct.productInventory.quantityOnHand-modalTransferProduct.productInventory.totalReservedQuantity+modalTransferProduct.transferedQuantity"
                                [changeValue]="1"
                                (onCounterChange)="onTransferQuantityChange($event)"
                                class="modal-lineup-two"></plus-minus-counter>
          </dd>


        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmTransferQuantityOnExistedProduct()">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Transfer Product Modal-->

<!--Delete Reserved Order Product-->
<div class="modal fade" id="modalDeleteTransferProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">删除转运产品</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle"
           *ngIf="modalTransferProduct && modalTransferProduct.productInventory">
        <p>确认删除此转运产品吗?</p>
        <label>产品名称:
          {{modalTransferProduct.productInventory.product.name}}-{{modalTransferProduct.productInventory.product.brand}}</label>
        <br/>
        <label>转运数量: {{modalTransferProduct.transferedQuantity}}</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteTransferQuantity(modalTransferProduct)">删除
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Delete Reserved Order Product-->


<!--Delete Order Modal-->
<div class="modal fade" id="modalDeleteTransfer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">删除转运单</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalTransfer">
        <p>确认删除此转运单吗?</p>
        <label>收货单位:
          {{getInventoryLocationByID(modalTransfer.toInventoryLocationID)?getInventoryLocationByID(modalTransfer.toInventoryLocationID).locationName:''}}</label>
        <br/>
        <label>下单日期: {{modalTransfer.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</label>
        <br/>
        <label>运输成本: {{modalTransfer.shippingCost | currency:'CAD':false:'1.2-2'}}</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteTransfer(modalTransfer)">删除</button>
      </div>
    </div>
  </div>
</div>
<!--End Delete Order Modal-->

<!--Add Transfer Modal-->
<div class="modal fade" id="modalAddTransfer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加内部转运单</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalTransfer">
        <form>
          <div class="form-group" style="margin-top: 2rem">
            <label>选择转运目的地:</label>
            <select type="text" [(ngModel)]="modalTransfer.toInventoryLocationID"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let il of allInventoryLocations " [ngValue]="il.id">{{il.locationName}}
              </option>
            </select>
          </div>
          <div *ngIf="modalTransfer.toInventoryLocationID">
            <span>目的地:<strong> {{getInventoryLocationByID(modalTransfer.toInventoryLocationID).locationName}}</strong></span>
          </div>
          <div *ngIf="modalTransfer.toInventoryLocationID" style="margin-top: 2rem">
            <span>下单日期:</span>
            <input type="date" [value]="modalTransfer.placedDate.toLocaleDateString() | date:'yyyy-MM-dd'"
                   (input)="modalTransfer.placedDate =convertLocalDateToUTC($event.target.value)">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" *ngIf="modalTransfer.toInventoryLocationID"
                (click)="confirmNewTransfer(modalTransfer)">确认
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="!modalTransfer.toInventoryLocationID">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Add Order Modal-->

<!--Ship Order Modal-->
<div class="modal fade" id="modalShipTransfer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">转运单发货</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalTransfer && modalTransfer.shippings">
        <dl class="dl-horizontal" style="margin-top: 1.5rem">
          <dt>收货单位:</dt>
          <dd>{{getInventoryLocationByID(modalTransfer.toInventoryLocationID).locationName}}</dd>
          <dt>下单日期:</dt>
          <dd>{{modalTransfer.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</dd>
          <dt>产品成本:</dt>
          <dd>{{modalTransfer.productCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>物流成本:</dt>
          <dd>
            {{getTotalShippingCostByTransfer(modalTransfer)| currency:'CAD':false:'1.2-2'}}
          </dd>
          <dt style="margin-top: 0.5rem">快递数量:</dt>
          <dd style="margin-top: 0.5rem">
            {{modalTransfer.shippings.length}}
          </dd>
        </dl>
        <div>
          <div class="well well-sm">
            <table class="table">
              <thead>
              <tr>
                <th>快递公司</th>
                <th>运单号</th>
                <th>收件人</th>
                <th>运费</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let shipping of modalTransfer.shippings">
                <td>{{findExpressCompanyByID(shipping.expressCompanyID).name}}</td>
                <td>{{shipping.shippingNumber}}</td>
                <td>{{shipping.receiver}}</td>
                <td>{{shipping.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                <td><span class="glyphicon glyphicon-remove expresspackage-remove"
                          (click)="onRemoveExpressPackageFromModalTransfer(shipping)"></span></td>
              </tr>

              <tr>
                <td><select type="text" [(ngModel)]="modalNewShipping.expressCompanyID" style="height:2.5rem">
                  <option *ngFor="let ec of expressCompanies" [ngValue]="ec.id">{{ec.name}}</option>
                </select></td>
                <td><input type="text" style="width:10rem;height:2.5rem"
                           [(ngModel)]="modalNewShipping.shippingNumber">
                </td>
                <td><input type="text" style="width:5rem;height:2.5rem" [(ngModel)]="modalNewShipping.receiver"></td>
                <td>$
                  <plus-minus-counter [counterValue]="modalNewShipping.shippingCost" [minValue]="0" [maxValue]="10000"
                                      [changeValue]="1"
                                      (onCounterChange)="onModalShippingCostChange($event)"></plus-minus-counter>
                </td>
                <td>
                <span class="glyphicon glyphicon-plus expresspackage-add"
                      *ngIf="modalNewShipping.expressCompanyID && modalNewShipping.shippingNumber"
                      (click)="onAddNewExpressPackageToModalTransfer()"></span>
                  <span class="glyphicon glyphicon-plus expresspackage-add-disable"
                        *ngIf="!modalNewShipping.expressCompanyID || !modalNewShipping.shippingNumber"></span>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-secondary" style="cursor:not-allowed"
                *ngIf="modalTransfer && modalTransfer.shippings && modalTransfer.shippings.length==0">发货
          {{modalTransfer.shippings.length}}
        </button>
        <button type="button" class="btn-sm btn-primary" aria-hidden="true"
                *ngIf="modalTransfer && modalTransfer.shippings && modalTransfer.shippings.length>0"
                (click)="confirmShippedTransfer()">发货 {{modalTransfer.shippings.length}}
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Ship Order Modal-->

<!--Edit Shipping Modal-->
<div class="modal fade" id="modalEditShipping" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改物流信息</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle"
           *ngIf="modalTransfer && modalTransfer.shippings">
        <dl class="dl-horizontal" style="margin-top: 1.5rem">
          <dt>收货地址:</dt>
          <dd>{{getInventoryLocationByID(modalTransfer.toInventoryLocationID).locationName}}</dd>
          <dt>转运下单日期:</dt>
          <dd>{{modalTransfer.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</dd>
          <dt>产品成本:</dt>
          <dd>{{modalTransfer.productCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>物流成本:</dt>
          <dd>
            {{getTotalShippingCostByTransfer(modalTransfer)}}
          </dd>
          <dt>总成本:</dt>
          <dd>{{modalTransfer.productCost+getTotalShippingCostByTransfer(modalTransfer) |
            currency:'CAD':false:'1.2-2'}}
          </dd>
          <dt style="margin-top: 0.5rem">快递数量:</dt>
          <dd style="margin-top: 0.5rem">
            {{modalTransfer.shippings.length}}
          </dd>
        </dl>
        <div>
          <div class="well well-sm">
            <table class="table">
              <thead>
              <tr>
                <th>快递公司</th>
                <th>运单号</th>
                <th>收件人</th>
                <th>运费</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let shipping of modalTransfer.shippings">
                <td>{{findExpressCompanyByID(shipping.expressCompanyID).name}}</td>
                <td>{{shipping.shippingNumber}}</td>
                <td>{{shipping.receiver}}</td>
                <td>{{shipping.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                <td><span class="glyphicon glyphicon-remove expresspackage-remove"
                          (click)="onRemoveExpressPackageFromModalTransfer(shipping)"></span></td>
              </tr>

              <tr>
                <td><select type="text" [(ngModel)]="modalNewShipping.expressCompanyID" style="height:2.5rem">
                  <option *ngFor="let ec of expressCompanies" [ngValue]="ec.id">{{ec.name}}</option>
                </select></td>
                <td><input type="text" style="width:10rem;height:2.5rem"
                           [(ngModel)]="modalNewShipping.shippingNumber">
                </td>
                <td><input type="text" style="width:5rem;height:2.5rem" [(ngModel)]="modalNewShipping.receiver"></td>
                <td>$
                  <plus-minus-counter [counterValue]="modalNewShipping.shippingCost" [minValue]="0" [maxValue]="10000"
                                      [changeValue]="1"
                                      (onCounterChange)="onModalShippingCostChange($event)"></plus-minus-counter>
                </td>
                <td>
                  <span class="glyphicon glyphicon-plus expresspackage-add"
                        *ngIf="modalNewShipping.expressCompanyID && modalNewShipping.shippingNumber"
                        (click)="onAddNewExpressPackageToModalTransfer()"></span>
                  <span class="glyphicon glyphicon-plus expresspackage-add-disable"
                        *ngIf="!modalNewShipping.expressCompanyID || !modalNewShipping.shippingNumber"></span>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-secondary" style="cursor:not-allowed"
                *ngIf="modalTransfer && modalTransfer.shippings && modalTransfer.shippings.length==0">确认
          {{modalTransfer.shippings.length}}
        </button>
        <button type="button" class="btn-sm btn-primary" aria-hidden="true"
                *ngIf="modalTransfer && modalTransfer.shippings && modalTransfer.shippings.length>0"
                (click)="confirmEditShippingInfo()">确认 {{modalTransfer.shippings.length}}
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Shipping Modal-->


<!--General Message-->
<div class="modal fade" id="modalGeneralMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalGeneralTitle}}</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        {{modalGeneralBody}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">好的</button>
      </div>
    </div>
  </div>
</div>
<!--End General Message-->
