.order-summary-row{

}

.order-summary-item{
  height:2rem;

}


.modal-input-textbox {
  display: inline-block;
  max-width: 20rem;
}

.shipping-text-hasproblem,
.shipping-button-hasproblem,
.purchase-product-remove,
.expresspackage-remove{
  color:orangered;
  opacity: 0.7;
}

.shipping-button-hasproblem:hover,
.purchase-product-remove:hover,
.expresspackage-remove:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}

.expresspackage-add-disable{
  color:gray;
  opacity:1;
}

.expresspackage-add{
  color:#269abc;
  opacity:0.7;
}

.expresspackage-add:hover{
  transform: scale(1.3, 1.3);
  opacity: 1;
}

.shipping-text-received,
.shipping-button-received{
  color:#449d44;
  opacity: 0.7;
}

.shipping-text-received{
  opacity: 1;
}


.shipping-button-received:hover {
  transform: scale(1.3,1.3);
  opacity: 1;
}
