<div class="container">
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>发货日期</th>
        <th>快递公司</th>
        <th>发货单号</th>
        <th>收件人</th>
        <th>收货日期</th>
        <th>快递状态</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sh of allShippings | orderByDate: ['-shippedDate']">
        <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd'  }}</td>
        <td>
          {{findExpressCompanyByID(sh.expressCompanyID).name}}
        </td>
        <td>{{sh.shippingNumber}}</td>
        <td>
            {{sh.receiver}}
        </td>

        <td>{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
        <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
        <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
        <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>

        <td style="text-align:right">
          <span class="glyphicon glyphicon-ok-sign shipping-button-received" (click)="onPackageReceived(sh)"></span>
          <span class="glyphicon glyphicon-question-sign shipping-button-hasproblem" (click)="onPackageHasProblem(sh)"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container text-center" style="margin-top: 3rem">{{tableErrorMessage}}</div>
  </div>
</div>
