<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">小飞马订单管理系统</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active':isSelected('/order')}"><a routerLink="/order" routerLinkActive="active">订单</a></li>
        <li [ngClass]="{'active':isSelected('/inventory')}"><a routerLink="/inventory" routerLinkActive="active">库存</a></li>
        <li [ngClass]="{'active':isSelected('/transfer')}"><a routerLink="/transfer" routerLinkActive="active">内部转运</a></li>
        <li [ngClass]="{'active':isSelected('/purchase')}"><a routerLink="/purchase" routerLinkActive="active">采购记录</a></li>
        <li [ngClass]="{'active':isSelected('/carrier')}"><a routerLink="/carrier" routerLinkActive="active">快递</a></li>
        <li [ngClass]="{'active':isSelected('/customer')}"><a routerLink="/customer" routerLinkActive="active">客户信息</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{'active':isSelected('/setting')}"><a routerLink="/setting" routerLinkActive="active">设置</a></li>
      </ul>
    </div>
  </div>
</nav>
