<div class="container">
  <div class="list-group col-6 col-md-4">
    <a class="list-group-item active" (click)="addInventoryLocation()">
      添加库存地点
    </a>
    <a class="list-group-item"
        *ngFor="let il of inventoryLocations" (click)="editInventoryLocation(il)">{{il.locationName}}</a>
  </div>

  <div class="list-group col-6 col-md-4">
    <a class="list-group-item active" (click)="addPaymentMethod()">
      添加支付方式
    </a>
    <a class="list-group-item" *ngFor="let pm of paymentMethods" (click)="editPaymentMethod(pm)">{{pm.name}}</a>
  </div>

  <div class="list-group col-6 col-md-4">
    <a class="list-group-item active" (click)="addExpressCompany()">
      添加快递公司
    </a>
    <a class="list-group-item" *ngFor="let ec of expressCompanies" (click)="editExpressCompany(ec)">{{ec.name}}</a>
  </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalEditObject">
            <input [(ngModel)]="modalEditObject.targetProperty" [ngModelOptions]="{standalone: true}" type="text" placeholder=""
                   class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="saveEdit()">保存修改
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalAddedObject">
        <span>请输入添加内容:</span>
        <input [(ngModel)]="modalAddedObject.value" [ngModelOptions]="{standalone: true}" type="text" placeholder=""
               class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="saveAdd()">添加
        </button>
      </div>
    </div>
  </div>
</div>
