<div class="head-toolbar">
  <div class="left-menu">
    <button md-button [mdMenuTriggerFor]="menu">
      <i class="material-icons">dehaze</i>
    </button>
    <md-menu #menu="mdMenu" [overlapTrigger]="false" yPosition="below">
      <button md-menu-item>订单</button>
      <button md-menu-item>库存</button>
    </md-menu>

    <span>订单</span>
  </div>
  <div class="right-menu">
    <button md-button>
      <i class="material-icons">search</i>
    </button>
  </div>
</div>
