@import "../../styles";

$divider-color: $black-12-opacity;
$min-button-width: 36px;

.head-toolbar{
  width:100%;
  border-bottom: 1px solid $divider-color;
  display: flex;
  justify-content: space-between;




}

.left-menu {
  button {
    min-width: $min-button-width;
    border-right: 1px solid $divider-color
  }

  span {
    padding-left: 4px;
  }
}

.right-menu{
  button{
    min-width:$min-button-width;
  }
}
