<div class="container">
<div>
  <button type="button" class="btn btn-info btn-sm"
          (click)="onAddNewProduct()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加新产品
  </button>
</div>
<div *ngFor="let product of products"
      style="padding-top: 2rem">

  <div class="media">
    <div class="media-left col-xs-6 col-md-3" style="text-align: center" >
      <a *ngIf="product.productImages">
        <img style="display:inline-block;max-width:26.67rem; height: 15rem"  src="{{getDefaultProductImage(product)}}" alt="Load image failed">
      </a>
      <a *ngIf="!product.productImages">
        <img style="display:inline-block;max-width:26.67rem; height: 15rem"  src="app/resources/images/no-image-icon.jpg" alt="Load image failed">
      </a>

    </div>
    <div class="media-body" style="padding-left: 2rem; ">
      <h4 class="media-heading"><strong>{{product.brand}} - {{product.name}}</strong></h4>

      <dl class="dl-horizontal" style="margin-top: 1.5rem">
        <dt>SKU#:</dt>
        <dd>{{product.skuNumber}}</dd>
        <dt>重量:</dt>
        <dd>{{product.weight}} lb</dd>
        <div *ngIf="product.hasExpiredDate">
          <dt >最近保质期:</dt>
          <dd >
            <span
            [class.expired-soon]="isExpiredInOneYear(getClosestExpiredDate(product))"
            [class.expired-already]="isExpiredAlready(getClosestExpiredDate(product))"
            >{{getClosestExpiredDate(product).toLocaleDateString() | date:'yyyy-MM-dd'}}</span>
          </dd>
        </div>
        <dt>当前库存:</dt>
        <dd>
          <a data-toggle="collapse" href="#purchasedRecord-{{product.skuNumber}}">{{getTotalQuantity(product)}}</a>
          <div class="collapse" id="purchasedRecord-{{product.skuNumber}}">
            <div class="well well-sm">
              <table class="table">
                <thead>
                  <tr>
                    <th>位置</th>
                    <th>购入单价</th>
                    <th>数量</th>
                    <th *ngIf="product.hasExpiredDate">保质期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of product.productInventories">
                    <td>{{record.inventoryLocation.locationName}}</td>
                    <td>{{record.purchasedPrice}}</td>
                    <td>{{record.quantityOnHand}}</td>
                    <td *ngIf="product.hasExpiredDate"
                        [class.expired-soon]="isExpiredInOneYear(record.expiredDate)"
                        [class.expired-already]="isExpiredAlready(record.expiredDate)">
                      {{record.expiredDate.toLocaleDateString() | date:'yyyy-MM-dd'}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="media-right" style="">
      <button type="button" class="btn btn-warning btn-sm" style="margin-top: 1rem"
              (click)="onEditProduct(product)">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改产品
      </button>
    </div>
  </div>
</div>
</div>
<div class="container text-center" style="margin-top: 3rem">{{tableErrorMessage}}</div>

<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" *ngIf="!isEditing">添加产品信息</h4>
        <h4 class="modal-title" *ngIf="isEditing">修改产品信息</h4>
        <!--<h4>{{modalProduct|json}}</h4>-->
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form>
          <div class="form-group">
            <label>产品名称: </label>
            <input [(ngModel)]="modalProduct.name" [ngModelOptions]="{standalone: true}" type="text" placeholder="产品名称"
                   class="form-control">
          </div>
          <div class="form-group">
            <label>产品品牌: </label>
            <input [(ngModel)]="modalProduct.brand" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="产品品牌" class="form-control">
          </div>
          <div class="form-group">
            <label>SKU#: <span *ngIf="isEditing">{{modalProduct.skuNumber}}</span></label>
            <input *ngIf="!isEditing" [(ngModel)]="modalProduct.skuNumber" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="产品序列号" class="form-control">
          </div>
          <div class="form-group">
            <label>重量（磅）: </label>
            <plus-minus-counter [counterValue]="modalProduct.weight" [minValue]="0" [maxValue]="100" [changeValue]="0.5"
                                (onCounterChange)="onWeightChange($event)"
                                style="margin-left: 2rem"></plus-minus-counter>
          </div>
          <div class="form-group">
            <label>有保质期:
              <input type="radio" style="margin-left: 4rem"
                     [(ngModel)]="modalProduct.hasExpiredDate" [ngModelOptions]="{standalone: true}"
                     value=true>&nbsp;有
                <input type="radio" style="margin-left: 2rem" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="!modalProduct.hasExpiredDate"
                       value=false>&nbsp;没有
              </label>
          </div>

          <div class="form-group">
            <label>产品照片: </label>
            <div style="display:inline-block; margin-left: 3px">
              <div style="height:0px;overflow:hidden">
                <input type="file" id="imageUpload" name="fileInput"/>
              </div>
              <label for="product-image-upload" class="image-upload">
                <i class="glyphicon glyphicon-cloud-upload"></i>上传照片
              </label>
              <input id="product-image-upload" type="file" style="display:none"
                     ng2FileSelect [uploader]="imageUploader" (change)="selectedFileOnChanged($event)" multiple/>
              <!--<button (click)="startUpload()">开始上传</button>-->
            </div>
            <div class="product-images">
              <div class="image-container"
                   *ngFor="let link of modalProduct.productImages; let i = index">
                <span class="glyphicon id-photo-default" aria-hidden="true"
                      [ngClass]="{'glyphicon-star':link.isDefault,'glyphicon-star-empty':!link.isDefault}"
                      (click)="onSetDefaultImageByIndex(i)"></span>
                <span class="glyphicon glyphicon-remove id-photo-remove" aria-hidden="true"
                      (click)="onRemoveImageByIndex(i)"></span>
                <img src="{{getProductImageUrl(link)}}" class="image-item">
              </div>
              <!--<div class="image-container" *ngFor="let selectedItem of imageUploader.queue">-->
                <!--<img src="" imgPreview [image]="selectedItem?._file" class="image-item"/>-->
              <!--</div>-->
              <!--<div class="image-container" *ngIf="!modalProduct.productImages && !imageUploader.queue">-->
                <!--<img src="app/resources/images/no-image-icon.jpg" class="image-item"/>-->
              <!--</div>-->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" *ngIf="!isEditing" (click)="saveNewProduct(modalProduct)">添加
        </button>
        <button type="button" class="btn btn-primary" *ngIf="isEditing" (click)="saveEditProduct(modalProduct)">保存修改
        </button>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="modalTransferProducts" tabindex="-1" role="dialog">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title">内部转运</h4>-->
      <!--</div>-->
      <!--<div class="modal-body" style="vertical-align: middle" *ngIf="newTransfer">-->
        <!--<dl class="dl-horizontal" style="margin-top: 1.5rem">-->
          <!--<dt>发货地:</dt>-->
          <!--<dd><select type="text" [(ngModel)]="newTransfer.fromInventoryLocationID">-->
            <!--<option *ngFor="let il of inventoryLocations" [ngValue]="il.id">{{il.locationName}}</option>-->
          <!--</select></dd>-->
          <!--<dt>目的地:</dt>-->
          <!--<dd><select type="text" [(ngModel)]="newTransfer.toInventoryLocationID">-->
            <!--<option *ngFor="let il of inventoryLocations" [ngValue]="il.id">{{il.locationName}}</option>-->
          <!--</select></dd>-->
          <!--<dt>物流成本:</dt>-->
          <!--<dd>-->
            <!--&lt;!&ndash;{{getTotalShippingCostByOrder(modalOrder)}}&ndash;&gt;-->
          <!--</dd>-->
          <!---->
          <!---->
          <!---->
          <!--<dt>备注:</dt>-->
          <!--<dd><input [(ngModel)]="newTransfer.note" [ngModelOptions]="{standalone: true}" type="text" placeholder="备注信息"-->
                     <!--class="form-control"></dd>-->

        <!--</dl>-->

      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-primary" *ngIf="modalOrder.customer" (click)="confirmAddNewOrder(modalOrder)">确认</button>&ndash;&gt;-->
        <!--<button type="button" class="btn btn-secondary"  >确认</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

