
.id-photo-default {
  position: absolute;
  top: 6px;
  right: 20px;
  z-index: 100;
  color:royalblue;
  opacity: 0.7;
}

.glyphicon-star-empty.id-photo-default:hover{
  transform: scale(1.3, 1.3);
  opacity: 1;
}

.id-photo-remove {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 100;
  color:orangered;
  opacity: 0.7;
}

.id-photo-remove:hover{
  transform: scale(1.3, 1.3);
  opacity: 1;
}

.image-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.product-images{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;

}

.image-container{
  position: relative;
  width: 45%;
  margin: 1.5%;
  display: flex;
  justify-content: center;
}

.image-item{
  max-width:100%;
  max-height:200px;
  height:auto;
  align-self: center;
}
