// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$custom-theme-primary: mat-palette($mat-grey, 700, 300, 900);
$custom-theme-accent: mat-palette($mat-blue-grey);
$custom-theme-warn: mat-palette($mat-deep-orange, 100);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$custom-theme: mat-light-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);
