<div class="container">
  <div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-info btn-sm"
              (click)="onAddNewPurchase()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加采购记录
      </button>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>采购日期</th>
        <th>产品名称</th>
        <th>SKU#</th>
        <th>过期日期</th>
        <th>数量</th>
        <th>地点</th>
        <th>税后单价</th>
        <th>税后总额</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let psRecord of productSupplies | orderByDate: ['-purchasedDate']">
        <td>{{psRecord.purchasedDate.toLocaleDateString() | date:'yyyy-MM-dd'  }}</td>
        <td>
          {{psRecord.product.name}}
        </td>
        <td>{{psRecord.skuNumber}}</td>
        <td>
          <span *ngIf="psRecord.product.hasExpiredDate"
                [class.expired-soon]="isExpiredInOneYear(psRecord.expiredDate)"
                [class.expired-already]="isExpiredAlready(psRecord.expiredDate)"
          >
            {{psRecord.expiredDate.toLocaleDateString() | date:'yyyy-MM-dd'}}
          </span>
          <span *ngIf="!psRecord.product.hasExpiredDate">无</span>
        </td>

        <td>{{psRecord.purchasedQuantity}}</td>
        <td>{{psRecord.purchasedStore}}</td>
        <td>{{psRecord.purchasedPrice | currency:'USD':true:'1.2-2'}}</td>
        <td>{{psRecord.purchasedPrice*psRecord.purchasedQuantity | currency:'USD':true:'1.2-2'}}</td>

        <td style="text-align:right">
          <button type="button" class="btn btn-warning btn-xs" style="margin: 0"
                  (click)="onEditPurchasedRecord(psRecord)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改
          </button>
          <button type="button" class="btn btn-danger btn-xs" style="margin: 0 0 0 0.1rem"
                  (click)="onDeletePurchasedRecord(psRecord)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container text-center" style="margin-top: 3rem">{{tableErrorMessage}}</div>
  </div>
</div>

<div class="modal fade" id="modalPurchaseRecord" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" *ngIf="!isEditing">添加采购记录</h4>
        <h4 class="modal-title" *ngIf="isEditing">修改采购记录</h4>
        <h4>{{modalPurchasedRecord|json}}</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form>
          <div class="form-group" *ngIf="!modalProductSupplyRecord.product">
            <label>搜索产品:</label>
            <ng2-completer [(ngModel)]="searchProductStr" [ngModelOptions]="{standalone: true}" [dataService]="autoCompleteDataService"
                           [minSearchLength]="0" [placeholder]="'产品名称 或者 SKU#'" [matchClass]="'match'"
                           [textNoResults]="'没有找到产品信息,请先在库存页面添加产品'" (selected)="onProductSelected($event)" [textSearching]="'请稍等'"
                           class="modal-input-textbox modal-lineup-four" ></ng2-completer>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>SKU#: <span style="margin-left: 4rem">{{modalProductSupplyRecord.skuNumber}}</span></label>
            <button type="button" class="btn btn-info btn-sm"
                    *ngIf="!isEditing"
                    (click)="research()">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>重新搜索产品
            </button>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>产品名称: <span class="modal-lineup-four">{{modalProductSupplyRecord.product? modalProductSupplyRecord.product.name:''}}</span></label>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>有保质期: <span class="modal-lineup-four">{{modalProductSupplyRecord.product?(modalProductSupplyRecord.product.hasExpiredDate?'有':'没有'):''}}</span></label>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>采购日期: </label>
            <input type="date" [value]="modalProductSupplyRecord.purchasedDate.toLocaleDateString() | date:'yyyy-MM-dd'" (input)="modalProductSupplyRecord.purchasedDate =convertLocalDateToUTC($event.target.value)"
                   class="modal-lineup-four">
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product && modalProductSupplyRecord.product.hasExpiredDate">
            <label>过期日期: </label>
            <input type="date" [value]="modalProductSupplyRecord.expiredDate.toLocaleDateString() | date:'yyyy-MM-dd'" (input)="modalProductSupplyRecord.expiredDate =convertLocalDateToUTC($event.target.value)"
                   class="modal-lineup-four">
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>数量: </label>
            <plus-minus-counter [counterValue]="modalProductSupplyRecord.purchasedQuantity" [minValue]="0" [maxValue]="1000" [changeValue]="1"
                                (onCounterChange)="onQuantityChange($event)"
                                class="modal-lineup-two"></plus-minus-counter>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>地点: </label>
            <input [(ngModel)]="modalProductSupplyRecord.purchasedStore" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="采购地点" class="form-control"
                    class="modal-lineup-two modal-input-textbox">
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>税后单价: </label>
            <plus-minus-counter [counterValue]="modalProductSupplyRecord.purchasedPrice" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                (onCounterChange)="onPurchasedPriceChange($event)"
                                style="margin-left: 2rem"></plus-minus-counter>
          </div>
          <div class="form-group" *ngIf="modalProductSupplyRecord.product">
            <label>税后总额: <span class="modal-lineup-four">{{modalProductSupplyRecord.purchasedPrice*modalProductSupplyRecord.purchasedQuantity | currency:'CAD':false:'1.2-2'}}</span> </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" *ngIf="!isEditing" (click)="saveNewPurchase(modalProductSupplyRecord)">添加
        </button>
        <button type="button" class="btn btn-primary" *ngIf="isEditing" (click)="saveEditPurchasedRecord(modalProductSupplyRecord)">保存修改
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeletePurchaseRecord" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">确认删除</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <p>删除此次采购记录?</p>
        <p class="modal-lineup-two"><strong>产品名称: <span *ngIf="modalProductSupplyRecord.product">{{modalProductSupplyRecord.product.name}}</span></strong></p>
        <p class="modal-lineup-two"><strong>购买数量: <span *ngIf="modalProductSupplyRecord.purchasedQuantity">{{modalProductSupplyRecord.purchasedQuantity}}</span></strong></p>
        <p class="modal-lineup-two"><strong>购买日期: <span *ngIf="modalProductSupplyRecord.purchasedDate">{{modalProductSupplyRecord.purchasedDate.toLocaleDateString() | date:'yyyy-MM-dd'}}</span></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="deletePurchaseRecord(modalProductSupplyRecord)">删除</button>
      </div>
    </div>
  </div>
</div>
