<div class="container">
  <!--top menus-->
  <div>
    <!--menu - add new order / list all purchase required items-->
    <div class="col-lg-6">
      <button type="button" class="btn btn-info btn-sm"
              (click)="onAddNewOrder()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加新订单
      </button>
      <button type="button" class="btn btn-warning btn-sm"
              (click)="onGetAllPurchaseItems()">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 所有需采购产品
      </button>
    </div>
    <!--end menu - add new order / list all purchase required items-->


  </div>
  <!--end top menus-->

  <!--tabs-->
  <ul class="nav nav-tabs" style="margin-top: 8rem">
    <li role="button" [class.active]="OrderStatus.Preparing==getShowOrderStatus()"><a
      (click)="setShowOrderStatus(OrderStatus.Preparing)">新订单 &nbsp; {{getOrderNumber(OrderStatus.Preparing)}}</a></li>
    <li role="button" [class.active]="OrderStatus.Shipped==getShowOrderStatus()"><a
      (click)="setShowOrderStatus(OrderStatus.Shipped)">转运中 &nbsp;{{getOrderNumber(OrderStatus.Shipped)}}</a></li>
    <li role="button" [class.active]="OrderStatus.Closed==getShowOrderStatus()"><a
      (click)="setShowOrderStatus(OrderStatus.Closed)">已完成订单 &nbsp;{{getOrderNumber(OrderStatus.Closed)}}</a></li>
    <li role="button" [class.active]="OrderStatus.HasProblems==getShowOrderStatus()"><a
      (click)="setShowOrderStatus(OrderStatus.HasProblems)">问题订单 &nbsp;{{getOrderNumber(OrderStatus.HasProblems)}}</a>
    </li>
    <li role="button" class="pull-right"><a (click)="toggleAllCollapse()"><span *ngIf="allCollapse">全部展开</span><span
      *ngIf="!allCollapse">全部合并</span></a></li>
  </ul>
  <!--end tabs-->

  <!--Preparing Order-->
  <div class="panel-group" id="ShowPrepareOrders" *ngIf="OrderStatus.Preparing==getShowOrderStatus()"
       style="margin-top: 2rem">
    <div class="panel panel-default"
         *ngFor="let order of getOrdersByStatus(OrderStatus.Preparing) | orderByDate: ['placedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">

          <a data-toggle="collapse" href="#preparing-{{order.id}}" style="text-decoration: none">
            <span>{{i+1}}&nbsp;&nbsp;{{order.customer.name}}&nbsp;&nbsp;</span>
            <span>下单日期:{{order.placedDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
          </a>

          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1.5rem; opacity: 0.7"
             [ngClass]="{'btn-default':order.status == OrderStatus.Preparing,'btn-success':order.status == OrderStatus.ReadyToShip}"
             (click)="onSwitchReadyToShipOrder(order)">已完成备货</button>

          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1.5rem; opacity: 0.7"
                  [ngClass]="{'btn-default':!order.isPaid,'btn-success':order.isPaid}"
                  (click)="onSwitchIsPaid(order)">已付款</button>
          <span *ngIf="order.isPaid" style="color:orangered; opacity: 0.7">利润:{{order.paid-(order.productCost+order.shippingCost)*5.3 | currency:'RMB':true:'1.2-2' }}</span>

          <div class="pull-right" style="vertical-align: middle">

            <a class="btn-sm btn-primary" role="button" style="text-decoration: none"
               (click)="onPayOrder(order)">付款</a>

            <a class="btn-sm" role="button" style="text-decoration: none"
               [ngClass]="{'btn-default':order.status == OrderStatus.Preparing,'btn-primary':order.status == OrderStatus.ReadyToShip}"
               (click)="onShipOrder(order)">发货</a>

            <a class="btn-sm btn-danger" role="button" style="text-decoration: none"
               (click)="onDeleteOrder(order)">删除</a>
          </div>
        </h4>
      </div>
      <div id="preparing-{{order.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span><strong>{{order.customer.name}}  {{order.customer.cellPhone}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{order.customer.address}}</span>
            <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
               (click)="onEditOrderCustomer(order)">选择另一客户</a>
          </div>


          <hr style="margin-top: 0 !important;"/>

          <div class="row"> <!-- product-->
            <div class="col-xs-12 col-sm-12 col-lg-8">
              <h4 class="panel-title">已采购产品:&nbsp;&nbsp;&nbsp;&nbsp; {{order.productCost | currency:'CAD':false:'1.2-2'}}&nbsp;&nbsp;&nbsp;&nbsp;
                重量({{order.totalWeight}})磅</h4>
              <div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>产品</th>
                    <th>SKU#</th>
                    <th>过期</th>
                    <th>订购</th>
                    <th>已预留</th>
                    <th>库存地点</th>
                    <th>税后单价</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let orderExistedProduct of order.orderedExistedProducts">
                    <!--<td>{{orderExistedProduct|json}}</td>-->
                    <td>
                      {{orderExistedProduct.productInventory.product.name}}-{{orderExistedProduct.productInventory.product.brand}}
                    </td>
                    <td>{{orderExistedProduct.productInventory.skuNumber}}</td>
                    <td>
                        <span *ngIf="orderExistedProduct.productInventory.product.hasExpiredDate"
                              [class.expired-soon]="isExpiredInOneYear(orderExistedProduct.productInventory.expiredDate)"
                              [class.expired-already]="isExpiredAlready(orderExistedProduct.productInventory.expiredDate)"
                        >
                        {{orderExistedProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                        </span>
                      <span *ngIf="!orderExistedProduct.productInventory.product.hasExpiredDate">无</span>
                    </td>
                    <td>{{orderExistedProduct.orderedQuantity}}</td>
                    <td>{{orderExistedProduct.reservedQuantity}}</td>
                    <td>{{orderExistedProduct.productInventory.inventoryLocation.locationName}}</td>
                    <td>{{orderExistedProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                    <td style="text-align:right; white-space: nowrap">
                      <button type="button" class="btn btn-default btn-xs" style="margin: 0; display:inline-block"
                      (click)="onEditOrderedExistedProduct(orderExistedProduct)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true" style=""></span>
                      </button>
                      <button type="button" class="btn btn-default btn-xs" style="margin: 0 0 0 0.1rem;display:inline-block"
                                 (click)="onDeleteOrderedExistedProduct(orderExistedProduct)">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:indianred"></span>
                    </button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4">
              <h4 class="panel-title">需采购产品: (未包括费用)
                <a class="pull-right btn-xs btn-info" role="button" style="text-decoration: none; color: white" (click)="onAddOrderProducts(order)">添加订购产品</a>
              </h4>
              <div class="panel-body">
                <div class="panel-group">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let prp of order.purchaseRequiredProducts">
                      <span class="glyphicon glyphicon-remove purchase-product-remove" (click)="onRemovePurchasedRequiredProduct(prp)"></span>
                      <span *ngIf="order.status==OrderStatus.Preparing">
                        <span>{{prp.name}}</span>
                        <span *ngIf="prp.note!=''">- {{prp.note}}</span>
                        <span class="badge badge-default badge-pill">{{prp.quantity}}</span>
                      </span>
                      <span *ngIf="order.status==OrderStatus.ReadyToShip">
                        <span><del>{{prp.name}}</del></span>
                        <span *ngIf="prp.note!=''"><del>- {{prp.note}}</del></span>
                        <span class="badge badge-default badge-pill">{{prp.quantity}}</span>
                      </span>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- product-->

          <hr style="margin-top: 0 !important;"/>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">订单费用明细</span>
              <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
                 (click)="onEditCostInfo(order)">修改费用</a>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.productCost===0">产品成本:
                <span> {{order.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.shippingCost===0">物流成本:
                <span> {{order.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item">总成本: <span class="order-summary-item-notallow">{{order.productCost+order.shippingCost | currency:'CAD':false:'1.2-2'}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item"></div>
            </div>
            <div class="row">
              <div class="ccol-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.billing===0">报价:
                RMB<span> {{order.billing}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.paid===0">实付:&nbsp;
                RMB<span> {{order.paid}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" *ngIf="order.paymentMethodID">支付方式:&nbsp;{{findPaymentMethodByID(order.paymentMethodID)? findPaymentMethodByID(order.paymentMethodID).name:"未选择"}}</div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="!order.paidDate">付款日期:
                <span *ngIf="!order.paidDate"> 无</span><span *ngIf="order.paidDate">{{order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
                <!--<input *ngIf="!order.paidDate" type="date" style="max-height: 2rem" [value]=""  (input)="order.paidDate =convertLocalDateToUTC($event.target.value)"/>-->
                <!--<input *ngIf="order.paidDate" type="date" style="max-height: 2rem" [value]="order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'"  (input)="order.paidDate =convertLocalDateToUTC($event.target.value)"/>-->
              </div>
            </div>
            <div class="panel-body row">
              <!--col-xs-12 col-sm-8 col-lg-8-->
              <!--<div class="order-summary-item">-->
                备注:<span>{{order.note}}</span>
              <!--</div>-->
            </div>
          </div><!-- cost-->

        </div>
      </div>
    </div>
  </div>
  <!--End Preparing Order-->

  <!--Shipped Order-->
  <div class="panel-group" id="ShowShippedOrders" *ngIf="OrderStatus.Shipped==getShowOrderStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let order of getOrdersByStatus(OrderStatus.Shipped) | orderByDate: ['-placedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">

          <!--<a data-toggle="collapse" data-parent="#ShowPrepareOrders" href="#{{order.id}}" style="text-decoration: none">-->
          <a data-toggle="collapse" href="#shipped-{{order.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{order.customer.name}}&nbsp;&nbsp; 发货日期: {{getOrderShippedDate(order).toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1rem; opacity: 0.7"
                  [ngClass]="{'btn-default':!hasAllPackagesArrived(order),'btn-success':hasAllPackagesArrived(order)}"
                  >包裹全部到达</button>
          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1rem; opacity: 0.7"
                  [ngClass]="{'btn-default':!order.isPaid,'btn-success':order.isPaid}"
                  (click)="onSwitchIsPaid(order)">已付款</button>
          <span *ngIf="order.isPaid" style="color:orangered; opacity: 0.7">利润:{{order.paid-(order.productCost+order.shippingCost)*5.3 | currency:'RMB':true:'1.2-2' }}</span>

          <div class="pull-right" style="vertical-align: middle">
            <a class="btn-sm btn-primary" role="button" style="text-decoration: none"
               (click)="onPayOrder(order)">付款</a>
            <a class="btn-sm btn-primary" role="button" style="text-decoration: none"
               [ngClass]="{'btn-default':!hasAllPackagesArrived(order),'btn-primary':hasAllPackagesArrived(order)}"
               (click)="onCompleteOrder(order)">完成</a>
            <a class="btn-sm btn-danger" role="button" style="text-decoration: none"
               (click)="onReportProblem(order)">异常</a>
          </div>
        </h4>
      </div>
      <div id="shipped-{{order.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
              <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{order.shippings.length}}</span>
            <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
               (click)="onEditShipping(order)">修改快递</a>
          </div>
          <div class="panel-body row">
              <div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th></th>
                    <th>快递公司</th>
                    <th>单号</th>
                    <th>收件人</th>
                    <th>发货日期</th>
                    <th>运费</th>
                    <th>收货日期</th>
                    <th>快递状态</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let sh of order.shippings; let i =index">
                    <td>{{i+1}}</td>
                    <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                    <td>{{sh.shippingNumber}}</td>
                    <td>{{sh.receiver}}</td>
                    <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                    <td>{{sh.shippingCost |  currency:'CAD':false:'1.2-2'}}</td>
                    <td *ngIf="!sh.receivedDate">无</td>
                    <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                    <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                    <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                    <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                    <td>
                      <span class="glyphicon glyphicon-ok-sign shipping-button-received" (click)="onPackageReceived(sh)"></span>
                      <span class="glyphicon glyphicon-question-sign shipping-button-hasproblem" (click)="onPackageHasProblem(sh)"></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">订单客户:&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <strong>{{order.customer.name}}  {{order.customer.cellPhone}}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;{{order.customer.address}}</span>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
              <h4 class="panel-title">购买产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{order.totalWeight}})磅</h4>
              <div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>产品</th>
                    <th>SKU#</th>
                    <th>过期</th>
                    <th>数量</th>
                    <th>库存地点</th>
                    <th>税后单价</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let orderExistedProduct of order.orderedExistedProducts">
                    <!--<td>{{orderExistedProduct|json}}</td>-->
                    <td>
                      {{orderExistedProduct.productInventory.product.name}}-{{orderExistedProduct.productInventory.product.brand}}
                    </td>
                    <td>{{orderExistedProduct.productInventory.skuNumber}}</td>
                    <td>
                        <span *ngIf="orderExistedProduct.productInventory.product.hasExpiredDate"
                              [class.expired-soon]="isExpiredInOneYear(orderExistedProduct.productInventory.expiredDate)"
                              [class.expired-already]="isExpiredAlready(orderExistedProduct.productInventory.expiredDate)"
                        >
                        {{orderExistedProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                        </span>
                      <span *ngIf="!orderExistedProduct.productInventory.product.hasExpiredDate">无</span>
                    </td>
                    <td>{{orderExistedProduct.orderedQuantity}}</td>
                    <td>{{orderExistedProduct.productInventory.inventoryLocation.locationName}}</td>
                    <td>{{orderExistedProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">订单费用明细</span>
              <a class="btn-xs btn-warning pull-right" role="button" style="text-decoration: none"
                 (click)="onEditCostInfo(order)">修改费用</a>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.productCost===0">产品成本:
                <span> {{order.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.shippingCost===0">物流成本:
                <span> {{order.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item">总成本: <span class="order-summary-item-notallow">{{order.productCost+order.shippingCost | currency:'CAD':false:'1.2-2'}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item"></div>
            </div>
            <div class="row">
              <div class="ccol-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.billing===0">报价:
                RMB<span> {{order.billing}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.paid===0">实付:&nbsp;
                RMB<span> {{order.paid}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" *ngIf="order.paymentMethodID">支付方式:&nbsp;{{findPaymentMethodByID(order.paymentMethodID)? findPaymentMethodByID(order.paymentMethodID).name:"未选择"}}</div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="!order.paidDate">付款日期:
                <span *ngIf="!order.paidDate"> 无</span><span *ngIf="order.paidDate">{{order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
                <!--<input *ngIf="!order.paidDate" type="date" style="max-height: 2rem" [value]=""  (input)="order.paidDate =convertLocalDateToUTC($event.target.value)"/>-->
                <!--<input *ngIf="order.paidDate" type="date" style="max-height: 2rem" [value]="order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'"  (input)="order.paidDate =convertLocalDateToUTC($event.target.value)"/>-->
              </div>
            </div>
            <div class="panel-body row">
              <!--col-xs-12 col-sm-8 col-lg-8-->
              <!--<div class="order-summary-item">-->
              备注:<span>{{order.note}}</span>
              <!--</div>-->
            </div>
          </div><!-- cost-->
      </div>
    </div>
    </div>
  </div>
  <!--End Shipped Order-->

  <!--Completed Order-->
  <div class="panel-group" id="ShowCompletedOrders" *ngIf="OrderStatus.Closed==getShowOrderStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let order of getOrdersByStatus(OrderStatus.Closed) | orderByDate: ['-closedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">

          <!--<a data-toggle="collapse" data-parent="#ShowPrepareOrders" href="#{{order.id}}" style="text-decoration: none">-->
          <a data-toggle="collapse" href="#completed-{{order.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{order.customer.name}}&nbsp;&nbsp; 完成日期: {{order.closedDate.toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1.5rem; opacity: 0.7"
                  [ngClass]="{'btn-default':!order.isPaid,'btn-success':order.isPaid}"
                  (click)="onSwitchIsPaid(order)">已付款</button>
          <span *ngIf="order.isPaid" style="color:orangered; opacity: 0.7">利润:{{order.paid-(order.productCost+order.shippingCost)*5.3 | currency:'RMB':true:'1.2-2' }}</span>

          <div class="pull-right" style="vertical-align: middle">
            <a class="btn-sm btn-primary" role="button" style="text-decoration: none"
               (click)="onPayOrder(order)">付款</a>
          </div>
        </h4>
      </div>
      <div id="completed-{{order.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{order.shippings.length}}</span>
          </div>
          <div class="panel-body row">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>快递公司</th>
                  <th>单号</th>
                  <th>收件人</th>
                  <th>发货日期</th>
                  <th>运费</th>
                  <th>收货日期</th>
                  <th>快递状态</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sh of order.shippings; let i =index">
                  <td>{{i+1}}</td>
                  <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                  <td>{{sh.shippingNumber}}</td>
                  <td>{{sh.receiver}}</td>
                  <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td>{{sh.shippingCost |  currency:'CAD':false:'1.2-2'}}</td>
                  <td *ngIf="!sh.receivedDate">无</td>
                  <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">订单客户:&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <strong>{{order.customer.name}}  {{order.customer.cellPhone}}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;{{order.customer.address}}</span>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
            <h4 class="panel-title">购买产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{order.totalWeight}})磅</h4>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>产品</th>
                  <th>SKU#</th>
                  <th>过期</th>
                  <th>数量</th>
                  <th>库存地点</th>
                  <th>税后单价</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderExistedProduct of order.orderedExistedProducts">
                  <!--<td>{{orderExistedProduct|json}}</td>-->
                  <td>
                    {{orderExistedProduct.productInventory.product.name}}-{{orderExistedProduct.productInventory.product.brand}}
                  </td>
                  <td>{{orderExistedProduct.productInventory.skuNumber}}</td>
                  <td>
                        <span *ngIf="orderExistedProduct.productInventory.product.hasExpiredDate"
                              [class.expired-soon]="isExpiredInOneYear(orderExistedProduct.productInventory.expiredDate)"
                              [class.expired-already]="isExpiredAlready(orderExistedProduct.productInventory.expiredDate)"
                        >
                        {{orderExistedProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                        </span>
                    <span *ngIf="!orderExistedProduct.productInventory.product.hasExpiredDate">无</span>
                  </td>
                  <td>{{orderExistedProduct.orderedQuantity}}</td>
                  <td>{{orderExistedProduct.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{orderExistedProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">订单费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.productCost===0">产品成本:
                <span> {{order.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.shippingCost===0">物流成本:
                <span> {{order.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item">总成本: <span class="order-summary-item-notallow">{{order.productCost+order.shippingCost | currency:'CAD':false:'1.2-2'}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item"></div>
            </div>
            <div class="row">
              <div class="ccol-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.billing===0">报价:
                RMB<span> {{order.billing}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.paid===0">实付:&nbsp;
                RMB<span> {{order.paid}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" *ngIf="order.paymentMethodID">支付方式:&nbsp;{{findPaymentMethodByID(order.paymentMethodID)? findPaymentMethodByID(order.paymentMethodID).name:"未选择"}}</div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="!order.paidDate">付款日期:
                <span *ngIf="!order.paidDate"> 无</span><span *ngIf="order.paidDate">{{order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
              </div>
            </div>
            <div class="panel-body row">
              备注:<span>{{order.note}}</span>
            </div>
          </div><!-- cost-->
        </div>
      </div>
    </div>
  </div>
  <!--End Completed Order-->

  <!--Problem Order-->
  <div class="panel-group" id="ShowProblemOrders" *ngIf="OrderStatus.HasProblems==getShowOrderStatus()"
       style="margin-top: 2rem;">
    <div class="panel panel-default"
         *ngFor="let order of getOrdersByStatus(OrderStatus.HasProblems) | orderByDate: ['-placedDate']; let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">

          <!--<a data-toggle="collapse" data-parent="#ShowPrepareOrders" href="#{{order.id}}" style="text-decoration: none">-->
          <a data-toggle="collapse" href="#problem-{{order.id}}" style="text-decoration: none">
            {{i+1}}&nbsp;&nbsp;{{order.customer.name}}&nbsp;&nbsp; 发货日期: {{getOrderShippedDate(order).toLocaleDateString()|date:'yyyy-MM-dd'}}
          </a>
          <button class="btn btn-xs" type="button" style="text-decoration: none; margin-left: 1.5rem"
                  [ngClass]="{'btn-default':!order.isPaid,'btn-success':order.isPaid}"
                  (click)="onSwitchIsPaid(order)">已付款</button>
          <span *ngIf="order.isPaid" style="color:orangered">利润:{{order.paid-(order.productCost+order.shippingCost)*5.3 | currency:'RMB':true:'1.2-2' }}</span>

          <div class="pull-right" style="vertical-align: middle">
            <!--<a class="btn-sm btn-primary" role="button" style="text-decoration: none"-->
               <!--(click)="onPayOrder(order)">付款</a>-->
          </div>
        </h4>
      </div>
      <div id="problem-{{order.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-body row">
            <span>快递包裹:&nbsp;&nbsp;&nbsp;&nbsp;{{order.shippings.length}}</span>
          </div>
          <div class="panel-body row">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>快递公司</th>
                  <th>单号</th>
                  <th>收件人</th>
                  <th>发货日期</th>
                  <th>运费</th>
                  <th>收货日期</th>
                  <th>快递状态</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sh of order.shippings; let i =index">
                  <td>{{i+1}}</td>
                  <td>{{findExpressCompanyByID(sh.expressCompanyID).name}}</td>
                  <td>{{sh.shippingNumber}}</td>
                  <td>{{sh.receiver}}</td>
                  <td>{{sh.shippedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td>{{sh.shippingCost |  currency:'CAD':false:'1.2-2'}}</td>
                  <td *ngIf="!sh.receivedDate">无</td>
                  <td *ngIf="sh.receivedDate">{{sh.receivedDate.toLocaleDateString() | date:'yyyy-MM-dd' }}</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Shipped">转运中</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.Received" class="shipping-text-received">已到达</td>
                  <td *ngIf="sh.shippingStatus == ShippingStatus.HasProblems" class="shipping-text-hasproblem">异常</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-body row">
            <h4 class="panel-title">订单客户:&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <strong>{{order.customer.name}}  {{order.customer.cellPhone}}</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;{{order.customer.address}}</span>
            </h4>
          </div>

          <div class="panel-body row"> <!-- product-->
            <!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
            <h4 class="panel-title">购买产品:&nbsp;&nbsp;&nbsp;&nbsp;重量({{order.totalWeight}})磅</h4>
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>产品</th>
                  <th>SKU#</th>
                  <th>过期</th>
                  <th>数量</th>
                  <th>库存地点</th>
                  <th>税后单价</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderExistedProduct of order.orderedExistedProducts">
                  <!--<td>{{orderExistedProduct|json}}</td>-->
                  <td>
                    {{orderExistedProduct.productInventory.product.name}}-{{orderExistedProduct.productInventory.product.brand}}
                  </td>
                  <td>{{orderExistedProduct.productInventory.skuNumber}}</td>
                  <td>
                        <span *ngIf="orderExistedProduct.productInventory.product.hasExpiredDate"
                              [class.expired-soon]="isExpiredInOneYear(orderExistedProduct.productInventory.expiredDate)"
                              [class.expired-already]="isExpiredAlready(orderExistedProduct.productInventory.expiredDate)"
                        >
                        {{orderExistedProduct.productInventory.expiredDate | date:'yyyy-MM-dd'}}
                        </span>
                    <span *ngIf="!orderExistedProduct.productInventory.product.hasExpiredDate">无</span>
                  </td>
                  <td>{{orderExistedProduct.orderedQuantity}}</td>
                  <td>{{orderExistedProduct.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{orderExistedProduct.productInventory.purchasedPrice | currency:'CAD':false:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--</div>-->
          </div>

          <div><!-- cost-->
            <div class="panel-body row">
              <span class="panel-title">订单费用明细</span>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.productCost===0">产品成本:
                <span> {{order.productCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.shippingCost===0">物流成本:
                <span> {{order.shippingCost | currency:'CAD':false:'1.2-2'}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item">总成本: <span class="order-summary-item-notallow">{{order.productCost+order.shippingCost | currency:'CAD':false:'1.2-2'}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item"></div>
            </div>
            <div class="row">
              <div class="ccol-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.billing===0">报价:
                RMB<span> {{order.billing}}</span>
              </div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="order.paid===0">实付:&nbsp;
                RMB<span> {{order.paid}}</span></div>
              <div class="col-xs-6 col-sm-3 order-summary-item" *ngIf="order.paymentMethodID">支付方式:&nbsp;{{findPaymentMethodByID(order.paymentMethodID)? findPaymentMethodByID(order.paymentMethodID).name:"未选择"}}</div>
              <div class="col-xs-6 col-sm-3 order-summary-item" [class.warning-number]="!order.paidDate">付款日期:
                <span *ngIf="!order.paidDate"> 无</span><span *ngIf="order.paidDate">{{order.paidDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</span>
              </div>
            </div>
            <div class="panel-body row">
              备注:<span>{{order.note}}</span>
            </div>
          </div><!-- cost-->
        </div>
      </div>
    </div>
  </div>
  <!--End Problem Order-->
</div>


<!--Prepare Order Modal-->
<!--Edit Order Customer Modal-->
<div class="modal fade" id="modalOrderCustomer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">请选择另一个客户</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form>
          <div *ngIf="modalOrder.customer"><span>当前客户:<strong>  {{modalOrder.customer.name}} {{modalOrder.customer.cellPhone}}</strong>&nbsp;&nbsp;{{modalOrder.customer.address}}</span></div>
          <div class="form-group" style="margin-top: 2rem">
            <label>搜索客户:</label>
            <ng2-completer [(ngModel)]="searchCustomerStr" [ngModelOptions]="{standalone: true}"
                           [dataService]="autoCompleteCustomerService"
                           [minSearchLength]="0" [placeholder]="'客户姓名 电话 地址'"
                           [textNoResults]="'没有找到客户信息,请先在客户页面添加客户信息'" (selected)="onCustomerSelected($event)"
                           [textSearching]="'请稍等'"
                           style="display: inline-block; max-width: 20rem; margin-left: 2rem;"></ng2-completer>
          </div>
          <div><span *ngIf="modalCustomer">更改为客户:<strong>  {{modalCustomer.name}} {{modalCustomer.cellPhone}}</strong>&nbsp;&nbsp;{{modalCustomer.address}}</span></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmSelectedCustomer(modalCustomer)">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Order Customer Modal-->

<!--Add Order Product Modal-->
<div class="modal fade" id="modalAddOrderProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加订购产品</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form class="form-inline" *ngIf="!modalExistedProduct && !modalPurchaseRequiredProduct ">
          <div class="form-group" >
            <label>搜索产品:</label>
            <ng2-completer [(ngModel)]="searchProductStr" [ngModelOptions]="{standalone: true}" [dataService]="autoCompleteProductService"
                           [minSearchLength]="0" [placeholder]="'产品名称 或者 SKU#'" [matchClass]="'match'"
                           [textNoResults]="'没有找到产品信息,请先在库存页面添加产品'" (selected)="onFoundProductSelected($event)" [textSearching]="'请稍等'"
                           class="modal-input-textbox modal-lineup-four" ></ng2-completer>

          </div>
          <div class="form-group" >
            <label> 或者 </label>
            <button type="button" class="btn btn-sm btn-info" (click)="onAddPurchaseRequiredProduct()">添加产品临时信息</button>
          </div>
        </form>
        <div *ngIf="modalExistedProduct">
          <dl class="dl-horizontal" style="margin-top: 1.5rem">
            <dt>产品名称:</dt>
            <dd>{{modalExistedProduct.name}}-{{modalExistedProduct.brand}}</dd>
            <dt>SKU#:</dt>
            <dd>{{modalExistedProduct.skuNumber}}</dd>
            <dt>重量:</dt>
            <dd>{{modalExistedProduct.weight}} lb/每个</dd>
            <div *ngIf="modalExistedProduct.hasExpiredDate">
              <dt>最近保质期:</dt>
              <dd>
            <span
              [class.expired-soon]="isExpiredInOneYear(getClosestExpiredDate(modalExistedProduct))"
              [class.expired-already]="isExpiredAlready(getClosestExpiredDate(modalExistedProduct))">
              {{getClosestExpiredDate(modalExistedProduct).toLocaleDateString() | date:'yyyy-MM-dd'}}</span>
              </dd>
            </div>

            <dt>当前库存:</dt>
            <dd>{{getTotalQuantityOnHand(modalExistedProduct.skuNumber)}}({{getTotalReserved(modalExistedProduct.skuNumber)}}已预留)</dd>
          </dl>
          <div>
            <div class="well well-sm">
              <table class="table">
                <thead>
                <tr>
                  <th>位置</th>
                  <th>购入单价</th>
                  <th>数量</th>
                  <th *ngIf="modalExistedProduct.hasExpiredDate">保质期</th>
                  <th>
                      添加数量
                      <!--<input type="checkbox" [(ngModel)]="modalSelectAllProductInventory" [ngModelOptions]="{standalone: true}">全选-->
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of modalOrder.orderedExistedProducts">
                  <td>{{record.productInventory.inventoryLocation.locationName}}</td>
                  <td>{{record.productInventory.purchasedPrice}}</td>
                  <td>{{record.productInventory.quantityOnHand}}({{record.productInventory.totalReservedQuantity}})</td>
                  <td *ngIf="modalExistedProduct.hasExpiredDate && record.productInventory.expiredDate"
                      [class.expired-soon]="isExpiredInOneYear(record.productInventory.expiredDate)"
                      [class.expired-already]="isExpiredAlready(record.productInventory.expiredDate)">
                    {{record.productInventory.expiredDate.toLocaleDateString() | date:'yyyy-MM-dd'}}
                  </td>
                  <td>
                    <plus-minus-counter [counterValue]="record.orderedQuantity" [minValue]="0" [maxValue]="record.productInventory.quantityOnHand-record.productInventory.totalReservedQuantity" [changeValue]="1"
                                        (onCounterChange)="record.orderedQuantity=onUpdateOrderQuantity($event)"
                                        class=""></plus-minus-counter>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <dl class="dl-horizontal" style="margin-top: 1.5rem">
            <dt>还需额外采购:</dt>
            <dd><plus-minus-counter [counterValue]="modalOrderExistedProductExtra.quantity" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                    (onCounterChange)="onOrderExistedProductExtraQuantityChange($event)"
                                    style=""></plus-minus-counter></dd>
          </dl>
          <dl class="dl-horizontal" style="margin-top: 1.5rem">
            <dt>总共添加:</dt>
            <dd>{{getTotalQuantityOrdered(modalOrder.orderedExistedProducts)}}</dd>
          </dl>
        </div>

        <div *ngIf="modalPurchaseRequiredProduct">

          <form>
            <div class="form-group">
              <label>产品名称: </label>
              <input [(ngModel)]="modalPurchaseRequiredProduct.name" [ngModelOptions]="{standalone: true}" type="text" placeholder="产品名称"
                     class="form-control">
            </div>
            <div class="form-group">
              <label>需购买数量: </label>
              <plus-minus-counter [counterValue]="modalPurchaseRequiredProduct.quantity" [minValue]="1" [maxValue]="10000" [changeValue]="1"
                                  (onCounterChange)="onPurchaseRequiredProductQuantityChange($event)"
                                  style="margin-left: 2rem"></plus-minus-counter>
            </div>
            <div class="form-group">
              <label>备注: </label>
              <input [(ngModel)]="modalPurchaseRequiredProduct.note" [ngModelOptions]="{standalone: true}" type="text" placeholder="备注"
                     class="form-control">
            </div>

          </form>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmAddExistedOrderProduct()"
                *ngIf="modalExistedProduct">添加</button>
        <button type="button" class="btn btn-primary" (click)="confirmAddPurchaseRequiredProduct()"
                *ngIf="modalPurchaseRequiredProduct">添加</button>
      </div>
    </div>
  </div>
</div>
<!--End Add Order Product Modal-->

<!--Edit Order Product Modal-->
<div class="modal fade" id="modalOrderExistedProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改订购数量</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrderExistedProduct && modalOrderExistedProduct.productInventory ">
        <dl class="dl-horizontal">
          <dt>产品名称</dt>
          <dd>{{modalOrderExistedProduct.productInventory.product.name}}</dd>
          <dt>SKU#</dt>
          <dd>{{modalOrderExistedProduct.productInventory.skuNumber}}</dd>
          <dt>过期日期</dt>
          <dd>{{modalOrderExistedProduct.productInventory.expiredDate.toLocaleDateString()|date:'yyyy-MM-dd'}}</dd>
          <dt>当前批次库存:</dt>
          <dd>{{modalOrderExistedProduct.productInventory.quantityOnHand}}({{modalOrderExistedProduct.productInventory.totalReservedQuantity}}已预留)</dd>
          <dt>库存地点</dt>
          <dd>{{modalOrderExistedProduct.productInventory.inventoryLocation.locationName}}</dd>
          <dt>税后单价</dt>
          <dd>{{modalOrderExistedProduct.productInventory.purchasedPrice}}</dd>
          <dt>次批次订购数量</dt>
          <dd>
            <plus-minus-counter [counterValue]="modalOrderExistedProduct.orderedQuantity" [minValue]="0" [maxValue]="modalOrderExistedProduct.productInventory.quantityOnHand-modalOrderExistedProduct.productInventory.totalReservedQuantity+modalOrderExistedProduct.orderedQuantity" [changeValue]="1"
                                  (onCounterChange)="onOrderQuantityChange($event)"
                                  class="modal-lineup-two"></plus-minus-counter>
          </dd>


        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmOrderQuantityOnExistedProduct(modalOrderExistedProduct)">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Order Product Modal-->

<!--Delete Reserved Order Product-->
<div class="modal fade" id="modalDeleteOrderExistedProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">删除订购产品</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrderExistedProduct && modalOrderExistedProduct.productInventory">
        <p>确认删除此订购产品吗?</p>
        <label>产品名称: {{modalOrderExistedProduct.productInventory.product.name}}-{{modalOrderExistedProduct.productInventory.product.brand}}</label>
        <br/>
        <label>订购数量: {{modalOrderExistedProduct.orderedQuantity}}</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteOrderQuantityOnExistedProduct(modalOrderExistedProduct)">删除</button>
      </div>
    </div>
  </div>
</div>
<!--End Delete Reserved Order Product-->

<!--Edit Order Cost-->
<div class="modal fade" id="modalOrderCost" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">订单费用</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder && modalOrder.paymentMethodID">
          <dl class="dl-horizontal">
            <dt>产品成本</dt>
            <dd>{{modalOrder.productCost | currency:'CAD':false:'1.2-2'}}</dd>
            <dt>物流成本</dt>
            <dd>CAD<plus-minus-counter [counterValue]="modalOrder.shippingCost" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                    (onCounterChange)="onOrderShippingCostChange($event)"></plus-minus-counter></dd>
            <dt>总成本</dt>
            <dd>{{modalOrder.productCost+modalOrder.shippingCost | currency:'CAD':false:'1.2-2'}}</dd>
            <dt>报价</dt>
            <dd>RMB <plus-minus-counter [counterValue]="modalOrder.billing" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                        (onCounterChange)="onOrderBillingChange($event)"></plus-minus-counter></dd>
            <dt>实付</dt>
            <dd>RMB <plus-minus-counter [counterValue]="modalOrder.paid" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                        (onCounterChange)="onOrderPaidChange($event)"></plus-minus-counter></dd>
            <dt>支付方式</dt>
            <dd><select type="text" [(ngModel)]="modalOrder.paymentMethodID">
              <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod.id">{{paymentMethod.name}}</option>
            </select></dd>
            <dt>付款日期</dt>
            <dd><input type="date" [value]="modalOrder.paidDate.toLocaleDateString() | date:'yyyy-MM-dd'" (input)="modalOrder.paidDate =convertLocalDateToUTC($event.target.value)"></dd>
            <dt>备注</dt>
            <dd><input [(ngModel)]="modalOrder.note" [ngModelOptions]="{standalone: true}" type="text" placeholder="备注信息"
                       class="form-control"></dd>

          </dl>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="confirmOrderCost(modalOrder)">确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Order Cost-->

<!--List all purchase required items-->
<div class="modal fade" id="modalShowAllPurchaseRequiredItems" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">所有需要采购的产品</h4>
      </div>
      <div class="panel-body">
        <div class="panel-group">
          <span *ngIf="modalAllPurchaseRequiredItems.length==0">暂无采购任务</span>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let prp of modalAllPurchaseRequiredItems">
              <span class="glyphicon glyphicon-remove purchase-product-remove" (click)="onRemovePurchasedRequiredProductOnList(prp)"></span>
              <span>{{prp.name}}</span>
              <span *ngIf="prp.note!=''">- {{prp.note}}</span>
              <span class="badge badge-default badge-pill">{{prp.quantity}}</span>

            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<!--End List all purchase required items-->

<!--Delete Order Modal-->
<div class="modal fade" id="modalDeleteOrder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">删除订单</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder && modalOrder.customer">
        <p>确认删除此订单吗?</p>
        <label>客户: {{modalOrder.customer.name}}</label>
        <br/>
        <label>订单日期: {{modalOrder.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</label>
        <br/>
        <label>订单成本: {{modalOrder.productCost+modalOrder.shippingCost | currency:'CAD':false:'1.2-2'}}</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteOrder(modalOrder)">删除</button>
      </div>
    </div>
  </div>
</div>
<!--End Delete Order Modal-->

<!--Add Order Modal-->
<div class="modal fade" id="modalAddOrder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加订单</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder">
        <form>
          <div class="form-group" style="margin-top: 2rem">
            <label>搜索客户:</label>
            <ng2-completer [(ngModel)]="searchCustomerStr" [ngModelOptions]="{standalone: true}"
                           [dataService]="autoCompleteCustomerService"
                           [minSearchLength]="0" [placeholder]="'客户姓名 电话 地址'"
                           [textNoResults]="'没有找到客户信息,请先在客户页面添加客户信息'" (selected)="onNewOrderCustomerSelected($event)"
                           [textSearching]="'请稍等'"
                           style="display: inline-block; max-width: 20rem; margin-left: 2rem;"></ng2-completer>
          </div>
          <div *ngIf="modalOrder.customer"><span>订单客户:<strong>  {{modalOrder.customer.name}} {{modalOrder.customer.cellPhone}}</strong>&nbsp;&nbsp;{{modalOrder.customer.address}}</span></div>
          <div *ngIf="modalOrder.customer"><span>下单日期:</span><input type="date" [value]="modalOrder.placedDate.toLocaleDateString() | date:'yyyy-MM-dd'" (input)="modalOrder.placedDate =convertLocalDateToUTC($event.target.value)"></div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" *ngIf="modalOrder.customer" (click)="confirmAddNewOrder(modalOrder)">确认</button>
        <button type="button" class="btn btn-secondary" *ngIf="!modalOrder.customer" >确认</button>
      </div>
    </div>
  </div>
</div>
<!--End Add Order Modal-->

<!--Ship Order Modal-->
<div class="modal fade" id="modalShipOrder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">订单发货</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder && modalOrder.customer && modalOrder.shippings">
        <dl class="dl-horizontal" style="margin-top: 1.5rem">
          <dt>客户:</dt>
          <dd>{{modalOrder.customer.name}}</dd>
          <dt>订单日期:</dt>
          <dd>{{modalOrder.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</dd>
          <dt>产品成本:</dt>
          <dd>{{modalOrder.productCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>物流成本:</dt>
          <dd>
            {{getTotalShippingCostByOrder(modalOrder)| currency:'CAD':false:'1.2-2'}}
          </dd>
          <dt>总成本:</dt>
          <dd>{{modalOrder.productCost+getTotalShippingCostByOrder(modalOrder) | currency:'CAD':false:'1.2-2'}}</dd>
          <dt style="margin-top: 0.5rem">快递数量:</dt>
          <dd style="margin-top: 0.5rem">
            {{modalOrder.shippings.length}}
          </dd>
        </dl>
      <div>
        <div class="well well-sm">
          <table class="table">
            <thead>
            <tr>
              <th>快递公司</th>
              <th>运单号</th>
              <th>收件人</th>
              <th>运费</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipping of modalOrder.shippings">
              <td>{{findExpressCompanyByID(shipping.expressCompanyID).name}}</td>
              <td>{{shipping.shippingNumber}}</td>
              <td>{{shipping.receiver}}</td>
              <td>{{shipping.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
              <td><span class="glyphicon glyphicon-remove expresspackage-remove" (click)="onRemoveExpressPackageFromModalOrder(shipping)"></span></td>
            </tr>

            <tr>
              <td ><select type="text" [(ngModel)]="modalNewShipping.expressCompanyID" style="height:2.5rem">
                <option *ngFor="let ec of expressCompanies" [ngValue]="ec.id">{{ec.name}}</option>
              </select></td>
              <td ><input type="text" style="width:10rem;height:2.5rem" [(ngModel)]="modalNewShipping.shippingNumber"></td>
              <td ><input type="text" style="width:5rem;height:2.5rem" [(ngModel)]="modalNewShipping.receiver"></td>
              <td>$ <plus-minus-counter [counterValue]="modalNewShipping.shippingCost" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                        (onCounterChange)="onModalShippingCostChange($event)"></plus-minus-counter></td>
              <td>
                <span class="glyphicon glyphicon-plus expresspackage-add"
                      *ngIf="modalNewShipping.expressCompanyID && modalNewShipping.shippingNumber"
                      (click)="onAddNewExpressPackageToModalOrder()"></span>
                <span class="glyphicon glyphicon-plus expresspackage-add-disable" *ngIf="!modalNewShipping.expressCompanyID || !modalNewShipping.shippingNumber"></span>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-secondary" style="cursor:not-allowed"
                *ngIf="modalOrder && modalOrder.shippings && modalOrder.shippings.length==0">发货 {{modalOrder.shippings.length}}</button>
        <button type="button" class="btn-sm btn-primary" aria-hidden="true"
                *ngIf="modalOrder && modalOrder.shippings && modalOrder.shippings.length>0"
                (click)="confirmShippedOrder()">发货 {{modalOrder.shippings.length}}</button>
      </div>
    </div>
  </div>
</div>
<!--End Ship Order Modal-->

<!--Edit Shipping Modal-->
<div class="modal fade" id="modalEditShipping" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改物流信息</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder && modalOrder.customer && modalOrder.shippings">
        <dl class="dl-horizontal" style="margin-top: 1.5rem">
          <dt>客户:</dt>
          <dd>{{modalOrder.customer.name}}</dd>
          <dt>订单日期:</dt>
          <dd>{{modalOrder.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</dd>
          <dt>产品成本:</dt>
          <dd>{{modalOrder.productCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>物流成本:</dt>
          <dd>
            {{getTotalShippingCostByOrder(modalOrder)}}
          </dd>
          <dt>总成本:</dt>
          <dd>{{modalOrder.productCost+getTotalShippingCostByOrder(modalOrder) | currency:'CAD':false:'1.2-2'}}</dd>
          <dt style="margin-top: 0.5rem">快递数量:</dt>
          <dd style="margin-top: 0.5rem">
            {{modalOrder.shippings.length}}
          </dd>
        </dl>
        <div>
          <div class="well well-sm">
            <table class="table">
              <thead>
              <tr>
                <th>快递公司</th>
                <th>运单号</th>
                <th>收件人</th>
                <th>运费</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let shipping of modalOrder.shippings">
                <td>{{findExpressCompanyByID(shipping.expressCompanyID).name}}</td>
                <td>{{shipping.shippingNumber}}</td>
                <td>{{shipping.receiver}}</td>
                <td>{{shipping.shippingCost | currency:'CAD':false:'1.2-2'}}</td>
                <td><span class="glyphicon glyphicon-remove expresspackage-remove" (click)="onRemoveExpressPackageFromModalOrder(shipping)"></span></td>
              </tr>

              <tr>
                <td ><select type="text" [(ngModel)]="modalNewShipping.expressCompanyID" style="height:2.5rem">
                  <option *ngFor="let ec of expressCompanies" [ngValue]="ec.id">{{ec.name}}</option>
                </select></td>
                <td ><input type="text" style="width:10rem;height:2.5rem" [(ngModel)]="modalNewShipping.shippingNumber"></td>
                <td ><input type="text" style="width:5rem;height:2.5rem" [(ngModel)]="modalNewShipping.receiver"></td>
                <td>$ <plus-minus-counter [counterValue]="modalNewShipping.shippingCost" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                          (onCounterChange)="onModalShippingCostChange($event)"></plus-minus-counter></td>
                <td>
                <span class="glyphicon glyphicon-plus expresspackage-add"
                      *ngIf="modalNewShipping.expressCompanyID && modalNewShipping.shippingNumber"
                      (click)="onAddNewExpressPackageToModalOrder()"></span>
                  <span class="glyphicon glyphicon-plus expresspackage-add-disable" *ngIf="!modalNewShipping.expressCompanyID || !modalNewShipping.shippingNumber"></span>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-secondary" style="cursor:not-allowed"
                *ngIf="modalOrder && modalOrder.shippings && modalOrder.shippings.length==0">确认 {{modalOrder.shippings.length}}</button>
        <button type="button" class="btn-sm btn-primary" aria-hidden="true"
                *ngIf="modalOrder && modalOrder.shippings && modalOrder.shippings.length>0"
                (click)="confirmEditShippingInfo()">确认 {{modalOrder.shippings.length}}</button>
      </div>
    </div>
  </div>
</div>
<!--End Edit Shipping Modal-->

<!--End Prepare Order Modals-->

<!--Shipped Order Modals-->

<!--End Shipped Order Modals-->

<!--Modal Pay Order-->
<div class="modal fade" id="modalPayOrder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">付款</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" *ngIf="modalOrder && modalOrder.customer && modalOrder.shippings">
        <dl class="dl-horizontal" style="margin-top: 1.5rem">
          <dt>客户:</dt>
          <dd>{{modalOrder.customer.name}}</dd>
          <dt>订单日期:</dt>
          <dd>{{modalOrder.placedDate.toLocaleDateString()|date:'yyyy-MM-dd' }}</dd>
          <dt>产品成本:</dt>
          <dd>{{modalOrder.productCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>物流成本:</dt>
          <dd>
            {{getTotalShippingCostByOrder(modalOrder)}}
          </dd>
          <dt>总成本</dt>
          <dd>{{modalOrder.productCost+modalOrder.shippingCost | currency:'CAD':false:'1.2-2'}}</dd>
          <dt>报价</dt>
          <dd>RMB <plus-minus-counter [counterValue]="modalOrder.billing" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                      (onCounterChange)="onOrderBillingChange($event)"></plus-minus-counter></dd>
          <dt>实付</dt>
          <dd>RMB <plus-minus-counter [counterValue]="modalOrder.paid" [minValue]="0" [maxValue]="10000" [changeValue]="1"
                                      (onCounterChange)="onOrderPaidChange($event)"></plus-minus-counter></dd>
          <dt>支付方式</dt>
          <dd><select type="text" [(ngModel)]="modalOrder.paymentMethodID">
            <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod.id">{{paymentMethod.name}}</option>
          </select></dd>
          <dt>付款日期</dt>
          <dd><input type="date" [value]="modalOrder.paidDate.toLocaleDateString() | date:'yyyy-MM-dd'" (input)="modalOrder.paidDate =convertLocalDateToUTC($event.target.value)"></dd>
          <dt>备注</dt>
          <dd><input [(ngModel)]="modalOrder.note" [ngModelOptions]="{standalone: true}" type="text" placeholder="备注信息"
                     class="form-control"></dd>

        </dl>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>

        <button type="button" class="btn-sm btn-primary" aria-hidden="true" (click)="confirmPaidOrder()">确认付款</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal Pay Order-->


<!--General Message-->
<div class="modal fade" id="modalGeneralMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalGeneralTitle}}</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle" >
        {{modalGeneralBody}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">好的</button>
      </div>
    </div>
  </div>
</div>
<!--End General Message-->
