<div class="container">
  <div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-info btn-sm"
              (click)="onAddNewCustomer()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加客户信息
      </button>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>姓名</th>
        <th>地址</th>
        <th>手机</th>
        <th>备选地址</th>
        <th>备注</th>
        <th>身份证照片</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let customer of customers; let i = index;">
        <td>{{i+1}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.cellPhone}}</td>
        <td>{{customer.alterAddress}}</td>
        <td>{{customer.note}}</td>
        <td>
          <!--<span>暂无照片</span>-->
          <span *ngFor="let link of customer.customerIDPhotos; let i = index;">
            <a href="{{link.url}}">照片{{i+1}}</a>
          </span>
          <span *ngIf="!customer.customerIDPhotos || customer.customerIDPhotos.length === 0">暂无照片</span>
        </td>
        <td style="text-align:right">
          <button type="button" class="btn btn-warning btn-xs" style="margin: 0"
                  (click)="onEditCustomer(customer)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改
          </button>
          <button type="button" class="btn btn-danger btn-xs" style="margin: 0 0 0 0.1rem"
                  (click)="onDeleteCustomer(customer)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container text-center" style="margin-top: 3rem;" *ngIf="tableErrorMessage!=''">{{tableErrorMessage}}</div>
  </div>
</div>

<div class="modal fade" id="modalCustomer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" *ngIf="!isEditing">添加客户信息</h4>
        <h4 class="modal-title" *ngIf="isEditing">修改客户信息</h4>
        <!--<h4>{{modalCustomer|json}}</h4>-->
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <form>
          <div class="form-group">
            <label>姓名: </label>
            <input [(ngModel)]="modalCustomer.name" [ngModelOptions]="{standalone: true}" type="text" placeholder="客户姓名"
                   class="form-control">
          </div>
          <div class="form-group">
            <label>地址: </label>
            <input [(ngModel)]="modalCustomer.address" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="客户收件地址" class="form-control">
          </div>
          <div class="form-group">
            <label>电话: </label>
            <input [(ngModel)]="modalCustomer.cellPhone" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="客户手机号码" class="form-control">
          </div>
          <div class="form-group">
            <label>备选地址: </label>
            <input [(ngModel)]="modalCustomer.alterAddress" [ngModelOptions]="{standalone: true}" type="text"
                   placeholder="客户备用地址" class="form-control">
          </div>
          <div class="form-group">
            <label>备注: </label>
            <textarea [(ngModel)]="modalCustomer.note" [ngModelOptions]="{standalone: true}" rows="2" type="text"
                      placeholder="备注信息"
                      class="form-control" style="resize: none;"></textarea>
          </div>
          <div class="form-group">
            <label>身份证照片: </label>
            <div style="display:inline-block; margin-left: 3px">
              <div style="height:0px;overflow:hidden">
                <input type="file" id="imageUpload" name="fileInput"/>
              </div>
              <button  type="button" class="btn btn-default btn-xs disabled" aria-hidden="true"
                       (click)="onUploadImage()">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>上传照片
              </button>
            </div>

            <div style="position: relative;text-align:center; margin-top:3px">
              <div style=" position: relative; display: inline-block; width: 45%;margin-right: 1.5%"
                   *ngFor="let link of modalCustomer.customerIDPhotos; let i = index">

                <span class="glyphicon glyphicon-remove id-photo-remove" aria-hidden="true"
                      (click)="onRemoveIdPhoto(i)"></span>
                <img src="{{link.url}}" style="width:100%; ">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" *ngIf="!isEditing" (click)="saveNewCustomer(modalCustomer)">添加
        </button>
        <button type="button" class="btn btn-primary" *ngIf="isEditing" (click)="saveEditCustomer(modalCustomer)">保存修改
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeleteCustomer" tabindex="-1" role="dialog">
  <!--aria-labelledby="myModalLabel"-->
  <!--aria-hidden="true">-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">确认删除客户信息</h4>
      </div>
      <div class="modal-body" style="vertical-align: middle">
        <p>确定删除 {{modalCustomer.name}}？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer(modalCustomer)">删除</button>
      </div>
    </div>
  </div>
</div>

