h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.expired-soon {
  color:orange;
}

.expired-already {
  color:indianred;
}

.warning-number{
  color:indianred;
}
